# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
env/
venv/
ENV/
VENV/
env.bak/
venv.bak/
*.env

# PyCharm IDE files
.idea/

# PyCharm project-specific
*.iml
*.ipr
*.iws

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode files (in case team members use it)
.vscode/

# pytest
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyre
.pyre/

# pytype
.pytype/

# cProfile
profile.*

# Logs and local db
*.log
*.sqlite3

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Other
*.swp
*.swo
